@use "../../themes/colors" as *;

//decoration underline animation
@mixin decoration--underline($width, $height, $top, $bottom, $left,  $color) { 
  position: relative;

  &::before {
    content: "";
    position: absolute;
    width: $width;//140px;
    height: $height;
    transform: scaleX(0); 
    top: $top;
    bottom: $bottom;
    left: $left;
    background-color: $color;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }

  &:hover:before {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
}

//decoration wave for the latest-div

.decoration--wave {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.decoration--wave svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 46px;
}

.decoration--wave .shape-fill {
  fill: #FFFFFF;
}

//decoration scrollbar

@mixin decoration-scrollbar($size, $foreground-color, $background-color) {
  scrollbar-color: $foreground-color, $background-color;
  
    &::-webkit-scrollbar {
      width: $size;
      height: $size;
    }
    &::-webkit-scrollbar-thumb {
      background: $foreground-color;
    }
    &::-webkit-scrollbar-track {
      background:  $background-color;
    }
  }
