@use "../../themes/colors" as *;

%btn--hamburger {
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

%span--decoration {
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

//button animation

%span--decoration:nth-child(1) {
  top: 0px;
}

%span--decoration:nth-child(2),
%span--decoration:nth-child(3) {
  top: 7px;
}

%span--decoration:nth-child(4) {
  top: 15px;
}

%btn--hamburger.open %span--decoration:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}

%btn--hamburger.open %span--decoration:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

%btn--hamburger.open %span--decoration:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

%btn--hamburger.open %span--decoration:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}
